/* ==========================================================================
   1. CSS Reset Code
   ========================================================================== */
/* 1.1. Eric Meyers Reset
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   ========================================================================== */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img,
ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure,
figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* Force scrollbar */
html {
  overflow-y: scroll;
}

/* Align radios and text inputs with their label */
input[type=radio] {
  vertical-align: text-bottom;
}

/* Hand cursor on clickable input elements */
label,
input[type=button],
input[type=submit],
button {
  cursor: pointer;
}

strong {
  font-weight: bold;
  font-family: inherit;
  font-size: inherit;
}

em {
  font-style: italic;
}

img {
  width: 100%;
  border: 0;
  vertical-align: middle;
}

sub,
sup {
  vertical-align: baseline;
  position: relative;
  font-size: 55%;
  line-height: 0;
}

sup {
  top: -0.7em;
}

sub {
  bottom: -0.25em;
}

/* 1.2. Clear Fix
   ========================== */
.cf:before,
.cf:after {
  display: table;
  content: " ";
}

.cf:after {
  clear: both;
}

.cf {
  *zoom: 1;
}

/*for all*/
body {
  box-sizing: border-box;
  font-family: sans-serif;
}

a {
  display: inline-block;
  text-decoration: none;
}

li {
  display: inline-block;
  list-style-type: none;
}

.wrapper {
  width: 87%;
  margin: 0 auto;
}

.header__title {
  padding: 20px 0;
  background: #000;
  color: #faf7fe;
  font-size: 32px;
  font-weight: 900;
  text-align: center;
  text-transform: capitalize;
}

.shopping {
  padding: 40px 0;
}
.shopping__title {
  color: #345679;
  font-size: 24px;
  font-weight: 900;
  text-align: center;
  text-transform: capitalize;
}
.shopping__search {
  width: 80%;
  border: 1px solid #345679;
  border-radius: 5px;
  margin: 20px auto 20px auto;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}
.shopping__search input {
  width: 90%;
  padding: 10px 5%;
  border: none;
}
.shopping__search input:focus {
  border: none;
  outline: none;
}
.shopping__search__input {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -ms-flex-preferred-size: 85%;
  flex-basis: 85%;
}
.shopping__search__submit {
  border: 1px solid #345679;
  position: relative;
  flex: 1;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -ms-flex-preferred-size: 15%;
  flex-basis: 15%;
}
.shopping__search__submit input {
  width: 100%;
  background: #345679;
  color: #faf7fe;
}
@media only screen and (min-width: 1024px) {
  .shopping__search__submit input:hover {
    background: #faf7fe;
    color: #345679;
  }
}
.shopping__search__submit::before {
  position: absolute;
  top: 10px;
  left: 10%;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-family: "FontAwesome";
  font-weight: 900;
  content: "\f002";
}
.shopping__products {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  -o-flex-direction: column;
  -webkit-box-orient: vertical;
  flex-direction: column;
}
.shopping__product {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  -o-flex-direction: column;
  -webkit-box-orient: vertical;
  flex-direction: column;
  margin-bottom: 20px;
}
.shopping__product figure {
  width: 40%;
  height: 400px;
  margin: 10px auto 10px auto;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}
.shopping__product__title {
  color: #345679;
  font-size: 21px;
  font-weight: 900;
  text-align: center;
  text-transform: capitalize;
}
.shopping__product__other-details {
  width: 100%;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}
.shopping__product__other-details .category {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -ms-flex-preferred-size: 80%;
  flex-basis: 80%;
  font-size: 18px;
  font-weight: 900;
  text-align: center;
  text-transform: capitalize;
}
.shopping__product__other-details .rating {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -ms-flex-preferred-size: 20%;
  flex-basis: 20%;
  color: #345679;
  font-size: 18px;
  font-weight: 900;
  text-align: center;
  text-transform: capitalize;
}
.shopping__product__other-details .rating::before {
  font-family: "FontAwesome";
  font-weight: 900;
  content: "\f005";
  color: #ff0;
}
.shopping__product__descriptions {
  padding: 20px 0;
  font-size: 16px;
  text-align: center;
}
.shopping__product .price {
  padding: 10px 0;
  color: #345679;
  font-size: 18px;
  font-weight: 900;
  text-align: center;
  text-transform: capitalize;
}
.shopping__product .btn-add {
  width: 10%;
  padding: 10px 0;
  border: 1px solid #345679;
  margin: 0 auto;
  background: #345679;
  color: #ff0;
}
@media only screen and (min-width: 1024px) {
  .shopping__product .btn-add:hover {
    background: #ff0;
    color: #345679;
  }
}

.cart {
  padding: 20px 0;
}
.cart__products {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  -o-flex-direction: column;
  -webkit-box-orient: vertical;
  flex-direction: column;
}
.cart__product {
  margin-bottom: 20px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}
.cart__product figure {
  height: 100px;
  margin: 10px auto 10px auto;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  -ms-flex-preferred-size: 30%;
  flex-basis: 30%;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.cart__product figure img {
  height: 100%;
  object-fit: contain;
}
.cart__product__title {
  color: #345679;
  font-size: 21px;
  font-weight: 900;
  text-align: center;
  text-transform: capitalize;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  -ms-flex-preferred-size: 30%;
  flex-basis: 30%;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.cart__product .quantity {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  -ms-flex-preferred-size: 20%;
  flex-basis: 20%;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.cart__product .quantity input:focus {
  outline: none;
}
.cart__product .price {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  -ms-flex-preferred-size: 10%;
  flex-basis: 10%;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.cart__product .clear {
  height: 40px;
  border: 1px solid #f00;
  margin: 20px auto;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  -ms-flex-preferred-size: 10%;
  flex-basis: 10%;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-size: 18px;
  font-weight: 900;
  text-align: center;
  text-transform: capitalize;
  background: #f00;
  color: #000;
}
@media only screen and (min-width: 1024px) {
  .cart__product .clear:hover {
    background: #000;
    color: #f00;
  }
}
.cart__details {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  gap: 5%;
}
.cart__details .btn-clear {
  padding: 15px 2%;
  border: 1px solid #f00;
  background: #f00;
  color: #000;
}
@media only screen and (min-width: 1024px) {
  .cart__details .btn-clear:hover {
    background: #000;
    color: #f00;
  }
}

/*# sourceMappingURL=style.css.map */
