 $devices:("desktop":"1024px",
   "tablet":"995px",
   "ipad":"768px",
   "largePhone":"540px",
   "mediumPhone":"480px",
   "smallPhone":"320px");

 $colors:("whiteShade":#faf7fe,
   "blueShade":#345679,
   "red":#f00,
   "black":#000,
   "yellow":#ff0
 );

 $autoMargin:0 auto;